# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# SvelteKit
.svelte-kit

# Misc
.DS_Store
.env
.env.*
!.env.example
!.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tooling
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
